/* Brand logo slide */
.logo-slider {
    margin: 100px 0;
    color: var(--primary-color);
    text-align: center;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.logo-slider::before,
.logo-slider::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;  
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.logo-slider::before {
  left: 0;
  background: linear-gradient(to right, var(--background), transparent);
}

.logo-slider::after {
  right: 0;
  background: linear-gradient(to left, var(--background), transparent);
}

.logo-slider .swiper {
    padding-top: 60px;
}

.logo-slider {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
}

.logo-swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.logo-swiper img {
    max-width: 150px;
    height: auto;
    transition: filter 0.3s ease-in-out;
}
